:root {
  --main-border: 7px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(130deg, rgb(1, 7, 68) , rgb(69, 70, 83) );
  background-attachment:fixed;
}

#img-laptop {
  width: 100px;
}

#container {
  width: 100%;
}

#left-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #D2C8F0;
  border-right: var(--main-border) solid #7881F0;
  border-radius: 50%;
  position: fixed;
  left: 0;
  width: 40%;
  padding: 0 5%;
}

#first-box {
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-top: 2em;
}

#name {
  font-size: 3.5em;
  letter-spacing: .1em;
  font-weight: 300;
}

#job {
  font-size: 2em;
  font-weight: 100;
}

#slogan {
  font-style: italic;
  font-size: 1.3em;
  font-weight: 300;
}

.nav-item > * {
  color: #D2C8F0;
  display: block;
  padding: 30px 1em;
  transition: all .3s;
}

.nav-item {
  transition: all .3s;
}


#right-section {
  width: calc(60% - var(--main-border));
  margin-left: calc(40% +var(--main-border));
  position: relative;
  left: 40%;
  color: #D2C8F0;
  flex-direction: column;
  gap: 100px;
  padding: 20% 5% 50vh 20%;
}

#about {
  padding: 40px 0;
  margin-bottom: 30vh;
}

#projects {
  padding: 40px 0;
  margin-bottom: 50vh;
}
.line {
  width: 100%;
  height: 1px;
  background: linear-gradient(60deg, #7881F0, #00011120, #7881F0);
  margin-bottom: 20px;
  margin-top: 20px;
}
.inside-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(60deg, #00011120, #7881F0, #00011120);
  margin-bottom: 20px;
  margin-top: 20px;
}

a:hover {
  padding-left: 4em;
}

.nav-line {
  font-weight: 600;
}
